/* MEDIA QUERIS DESKTOP */

@media (min-width: 1200px) {
    /* Reseteo */

    * {
        padding: 0;
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }

    /* ------------------------------------------- */

    /*GRID AREA*/

    #grid-area {
        display: grid;
        grid-template-areas:
            "cabeza"
            "cuerpo"
            "pie";

        grid-template-rows: 90px auto auto;
    }

    nav {
        grid-area: cabeza;
    }

    main {
        grid-area: cuerpo;
    }

    footer {
        grid-area: pie;
    }

    /* FINN */

    /* ----------------------------------------- */

    /* HEADER */

    nav {
        box-shadow: 0px 2px 5px rgb(211, 209, 209);

        ul li a {
            transition: all 10s ease 3;
        }

        ul li a:hover {
            color: $amarillo;
            box-shadow: 2px 2px 2px #e4e9e9da;
        }
    }

    #grid-header {
        display: grid;
        grid-template-areas: "chawar navegacion";
        grid-template-columns: 25% 75%;

        #grid-logo {
            grid-area: chawar;
        }

        .flex-logo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: auto;
            margin-left: 70px;

            .logo {
                width: 130px;
            }
        }

        ul {
            grid-area: navegacion;
        }

        #flex-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;
        }

        .nav__links li a {
            transition: all 10s ease 3;
        }

        .nav__links li a:hover {
            color: $amarillo;
            box-shadow: 0px 1px 0px #e4e9e9;
        }
    }

    header li,
    a {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 15px;
        color: $negro;
        text-decoration: none;
        list-style-type: none;
        margin-left: 20px;
        text-align: center;
    }

    /* FINNN */

    /* ----------------------------------------------------- */

    /* INDEXX */

    /* Echo con Bootstrap */

    /* FINNN */

    /* --------------------------------- */

    /* QUIENES SOMOSS */

    #quienes-somos-all {
        display: grid;
        grid-template-areas: "imagen texto";
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
        margin-top: 70px;
        margin-right: 40px;
        margin-bottom: 120px;

        .quienes-text {
            grid-area: texto;
            justify-self: start;
            padding: 0;
            font-size: 18px;
        }

        .quienes-img {
            grid-area: imagen;
            justify-self: end;
        }
        .quienes-img img {
            width: 590px;
        }
    }

    /* Animacion */

    #quienes-image-animation {
        animation-name: quienesimage;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.44, 0.53, 0.44, 0.89);
    }

    @keyframes quienesimage {
        from {
            transform: translate(-200px);
            opacity: 0;
        }

        to {
            transform: translate(0);
            opacity: 1;
        }
    }

    .quienes-text-animacion {
        animation-name: quienes;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.44, 0.53, 0.44, 0.89);
    }

    @keyframes quienes {
        from {
            transform: translate(+100px);
            opacity: 0;
        }

        to {
            transform: translate(0);
            opacity: 1;
        }
    }

    /* FINNN */

    /* --------------------------------- */

    /* PRODUCTOOOS */

    /* bootstrap */

    .coleccion-titulo {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        margin: 50px;
    }

    .coleccion-titulo h1 {
        font-size: 40px;
    }

    .columnas-bootstrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 60px;
        grid-row-gap: 100px;
        justify-items: center;
        margin: 40px;

        .card-title {
            font-weight: 700;
            font-size: 23px;
        }
    }

    /* FINNN */

    /* ---------------------------------- */

    /* Talles */

    .main-flex {
        margin: 0;
        padding: 0;

        #grid-talles {
            display: grid;
            grid-template-areas: "pregunta desarrollo";

            grid-template-columns: 40% 60%;
            justify-items: center;
            align-items: center;
            margin: 40px;

            .grid-question {
                border-right: solid 1px rgb(170, 168, 168);
                border-bottom: none;
            }

            .grid-question h1 {
                grid-area: pregunta;
                margin: 50px;
                font-size: 65px;
            }

            .grid-desarollo {
                grid-area: desarrollo;
                margin: 50px;
                margin-left: 100px;
            }

            .grid-desarollo,
            ol,
            li {
                font-size: 19px;
            }

            .grid-desarollo,
            h3 {
                font-size: 23px;
            }

            /* Animacion */

            .animacion-talles-text {
                animation-name: talles;
                animation-iteration-count: 1;
                animation-duration: 1.5s;
                animation-timing-function: cubic-bezier(0.44, 0.53, 0.44, 0.89);
            }

            @keyframes talles {
                from {
                    transform: translate(+100px);
                    opacity: 0;
                }

                to {
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }

    /* FINNN */

    /* ---------------------------------- */

    /* CONTACTOO */

    #overlay {
        background-image: url(../img/quienes-somos.jpg);
        align-items: center;
        background-size: cover;
        z-index: -1;
    }

    .container-contact {
        display: flex;
        justify-content: center;
        padding: 50px;
        padding-bottom: 100px;

        form {
            width: 35%;
            background: $blanco;
            margin: 100px;
            padding: 40px;
            border-radius: 3px;
            box-sizing: border-box;
            color: $negro;

            .border-botton {
                border-bottom: solid 0.5px black;
            }

            .black {
                display: flex;
                color: $negro;
                font-weight: 800;
            }

            label {
                display: block;
                margin: 20px 0;
                color: $negro;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                outline: none;
                resize: none;
                border: none;
                border-bottom: 1px solid rgb(255, 255, 255);
            }

            input[type="text"]:focus,
            textarea:focus {
                border-bottom: 1px solid $negro;
            }

            textarea::-webkit-scrollbar {
                width: 4px;
            }

            textarea::-webkit-scrollbar-thumb {
                background-color: $negro;
            }

            .center {
                text-align: center;
            }

            input[type="submit"] {
                margin-top: 30px;
                width: 90%;
                max-width: 200px;
                color: $blanco;
                background: $negro;
                cursor: pointer;
            }
        }

        form,
        h2 {
            margin: 0;
            text-align: center;
        }

        /* Animacion */

        .scale-in-center {
            -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @-webkit-keyframes scale-in-center {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes scale-in-center {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    /* FINNNN */

    /* ----------------------------------- */

    /* FOOOTER */

    //MIXING
    @mixin tamaño($ancho, $alto) {
        width: $ancho;
        height: $alto;
    }
    //FIN MIXING

    //Fin mixing

    //Maps
    $secundario: map-get($paleta, secundario);
    $primario: map-get($paleta, primario);
    //Maps

    footer {
        background-color: $secundario;
        color: $primario;

        .container-footer-all {
            padding: 30px;
            background-color: $secundario;
            margin-top: 40px;
            margin-bottom: 40px;

            .container-body {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: $secundario;
                margin-top: 0px;
                margin-bottom: 0px;

                .column1 {
                    margin-right: 140px;

                    .hilera label a {
                        color: white;
                        font-size: 18px;
                        margin-top: 0px;
                        text-decoration: none;
                        list-style-type: none;
                        margin-left: 20px;
                        text-align: center;
                    }

                    .hilera {
                        margin-top: 10px;

                        background-color: $secundario;

                        .fa-instagram {
                            font-size: 20px;
                        }

                        .fa-facebook-square {
                            font-size: 20px;
                        }

                        .fa-twitter-square {
                            @extend .fa-facebook-square;
                        }
                    }

                    .hilera img {
                        @include tamaño(36px, 36px);
                    }

                    .hilera label {
                        margin-top: 0px;
                        color: $blanco;
                    }

                    .hilera label a:hover {
                        color: $amarillo;
                    }
                }

                .column2 {
                    margin-top: 0px;
                    margin-left: 140px;

                    .row2 {
                        label {
                            margin-left: 0px;
                            font-size: 18px;
                            
                        }
                    }

                    .row2 {
                        margin-top: 10px;
                        display: flex;
                        max-width: auto;


                        .fa-location-arrow {
                            font-size: 20px ;
                        }
        
                        .fa-phone {
                            font-size: 20px ;
                        }
        
                        .fa-envelope {
                            font-size: 20px ;
                        }


                    }
    
                    .row2 img {
                        @include tamaño (36px, 36px)
                    }
    
                    .row2 label {
                        margin-left: 20px;
                        margin-top: 0px;
                        max-width: 250px;
                    }

                    
                }

                
            }

            .container-body a,
            label {
                color: $blanco;
            }
        }
    }

    /* FINNNN */
}
