
/* QUIENES SOMOS */

#quienes-somos-all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;

    .quienes-text {
        padding: 20px;
        font-size: 16px;
        font-weight: 599;

        h1 {
            font-size: 28px;
        }
    }

    .quienes-img img {
        padding: 5px;
        width: 330px;
    }
    #quienes-image-animation {
        display: flex;
        justify-content: center;
    }


}

/* FIN */