<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="../css/bootstrap.css">


  <!-- Estilos con SASS -->
  <link rel="stylesheet" href="../micss/estilos.css">


  <!-- ICONOS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="../img/favicon-chawar.png">

  <meta name="keywords" content="joyas, diges, collares, artesanal">
  <meta name="description" content="Joyeria de autor, piezas unicas.">

  <script src="../js/main.js"></script>
  <script src="../js/claseCarrito.js"></script>
  <script src="../js/productosData.js"></script>


  <title>CHAWAR | Productos</title>

</head>


<!-- Navegador -->



<body id="grid-area" onload="Init()">


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">

    <div class="container-fluid">

      <a class="navbar-brand" href="#">

        <img src="../img/chawar-logo.png" alt="logo">

      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav text-center ms-auto">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="quienes-somos.html">Quiénes
              somos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="producto.html">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="talles.html">Talles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
          </li>

        </ul>

      </div>

    </div>

  </nav>


  <!-- TARJETAS DE COMPRA MAIN -->


  <main>

    <!-- Titulo -->


    <div class="coleccion-titulo">

      <h1 id="titulo">Colección 2022</h1>

    </div>

    <div id="divContenedor"></div>
    <a href="#carrito">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg> Ver carrito
    </a>

    <!-- Tarjeta 1 INFINE -->


    <section class="columnas-bootstrap">

      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-uno-infinito.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-uno-infinito-b.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-uno-infinito-c.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Infine ($600)</h5>

          <p class="card-text">Anillo en Bronce, con finalizacion armónica.</p>

          <a  class="btn btn-dark btnCarrito" target="_blank" id="buyButtonInfine">Agregar al carrito</a>

          <small id="alertCarritoInfine"></small>

        </div>

      </div>



      <!-- Tarjeta 2 AMON -->


      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-dos-amon.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-dos-amon-b.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-dos-amon-c.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Amón ($650)</h5>

          <p class="card-text">Anillo en Bronce, con detalles en bloques triangulares.</p>

          <a class="btn btn-dark btnCarrito" target="_blank" id="buyButtonAmon">Agregar al carrito</a>

          <small id="alertCarritoAmon"></small>

        </div>

      </div>


      <!-- Tarjeta 3 WAVES -->


      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-tres-waves.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-tres-waves-b.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-tres-waves-c.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Waves ($790)</h5>

          <p class="card-text">Anillo en Plata 925, con los detalles en bajo relieve negros.</p>

          <a class="btn btn-dark btnCarrito" target="_blank" id="buyButtonWaves">Agregar al carrito</a>

          <small id="alertCarritoWaves"></small>


        </div>

      </div>


      <!-- Tarjeta 4 BLOCK -->


      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-cuatro-block.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-cuatro-block-b.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-cuatro-block-c.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Block ($690)</h5>

          <p class="card-text">Anillo en Bronce, con detalles en bloques cuadrados.</p>

          <a class="btn btn-dark btnCarrito" target="_blank" id="buyButtonBlock">Agregar al carrito</a>

          <small id="alertCarritoBlock"></small>

        </div>

      </div>

      <!-- Tarjeta 5 CIRCULAR -->


      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-cinco-cicular.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-cinco-cicular-b.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Circular ($800)</h5>

          <p class="card-text">Anillo en Plata 925, con forma geométrica circular.</p>

          <a class="btn btn-dark btnCarrito" target="_blank" id="buyButtonCircular">Agregar al carrito</a>

          <small id="alertCarritoCircular"></small>

        </div>

      </div>


      <!-- Tarjeta 6 VORONOI -->



      <div class="card" style="width: 18rem;">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">

              <img src="../img/miniatura-seis-voronoi.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-seis-voronoi-b.jpg" class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">

              <img src="../img/miniatura-seis-voronoi-c.jpg" class="d-block w-100" alt="...">

            </div>

          </div>

        </div>


        <div class="card-body">

          <h5 class="card-title">Voronoi $(710)</h5>

          <p class="card-text">Anillo en Bronce, con formas geometricas.</p>

          <a class="btn btn-dark btnCarrito" target="_blank" id="buyButtonVoronoi">Agregar al carrito</a>

          <small id="alertCarritoVoronoi"></small>

        </div>

      </div>


    </section>

    <div class="container" id="carrito">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Precio:</th>
              <th scope="col">Anillo:</th>
            </tr>
          </thead>
          <tbody id="tbody">
          </tbody>
        </table>
      </div>
    </div>
    


  </main>


  <!-- FOOTER -->


  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="column1">

          <h4>Nuestas redes sociales</h4>

          <div class="hilera">

            <i class="fab fa-instagram"></i>

            <label> <a href="https://www.instagram.com/chawar.joyas/?hl=es-la" target="_blank">Seguinos
                en Instagram</a></label>

          </div>

          <div class="hilera">

            <i class="fab fa-facebook-square"></i>

            <label><a href="https://www.facebook.com/" target="_blank"> Seguinos en Facebook</a></label>

          </div>

          <div class="hilera">

            <i class="fab fa-twitter-square"></i>

            <label><a href="https://twitter.com/" target="_blank "> Seguinos en Twiter</a></label>

          </div>


        </div>

        <div class="column2">

          <h4>Informacion de contacto</h4>

          <div class="row2">

            <i class="fas fa-location-arrow"></i>

            <label>La Plata - Bs. As. - Arg.</label>

          </div>

          <div class="row2">

            <i class="fas fa-phone"></i>

            <label>2494-339578</label>

          </div>

          <div class="row2">

            <i class="far fa-envelope"></i>

            <label>chawarjoyas@gmail.com</label>

          </div>

        </div>

      </div>

    </div>


  </footer>

   

  <script src="../js/bootstrap.js"></script>



</body>


</html>