<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../css/bootstrap.css">


    <!-- Estilos con SASS -->
    <link rel="stylesheet" href="../micss/estilos.css">


    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../img/favicon-chawar.png">

    <meta name="keywords" content="joyas, diges, collares, artesanal">
    <meta name="description" content="Joyeria de autor, piezas unicas.">


    <title>CHAWAR | Quienes somos</title>

    
</head>



<!-- Navegador -->


<body id="grid-area">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">

        <div class="container-fluid">

            <a class="navbar-brand" href="#">

                <img src="../img/chawar-logo.png" alt="logo">

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav text-center ms-auto">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="quienes-somos.html">Quiénes
                            somos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="producto.html">Productos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="talles.html">Talles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>


    <!-- Quienes somos MAIN -->


    <main>

        

        <div id="quienes-somos-all" class="quienes-text-animacion">

            <div class="quienes-text">

                <h1>¿Quienes somos?</h1>

                <p> Fundada por Jeremias, quien aprovechando su carrera de grado en Diseño Industrial en la Facultad de
                    Artes de la Universidad Nacional de La Plata, convirtió sus
                    conocimientos en joyería y se inspiró en formas geométricas, marcos y estructuras.</p>

                </p>

                <p>

                    Tras explorar todo tipo de técnicas, se eligió la escultura como elemento clave de la marca que
                    trabaja con formas de la naturaleza en combinación con figuras arquitectónicas. Poco a poco
                    encontrando su identidad, finalmente concretando imagen y valores en una marca que
                    trabaja con materiales como la plata, con un estilo único al alcance de su usuario.
                </p>

                <p>
                    CHAWAR es una marca de joyería artesanal elaborada con técnicas tradicionales de orfebrería y cera
                    perdida, con un fuerte énfasis en la inspiración geométrica y animal convirtiéndolas en piezas
                    únicas.
                </p>

            </div>

            <div class="quienes-img" id="quienes-image-animation">

                <img src="../img/quienes-somos-uno.jpg" alt="foto taller">

            </div>

        </div>

    </main>



    <!-- FOOTER -->




    <footer>



        <div class="container-footer-all">

            <div class="container-body">

                <div class="column1">

                    <h4>Nuestas redes sociales</h4>

                    <div class="hilera">

                        <i class="fab fa-instagram"></i>

                        <label> <a href="https://www.instagram.com/chawar.joyas/?hl=es-la" target="_blank">Seguinos
                                en Instagram</a></label>

                    </div>

                    <div class="hilera">

                        <i class="fab fa-facebook-square"></i>

                        <label><a href="https://www.facebook.com/" target="_blank"> Seguinos en Facebook</a></label>

                    </div>

                    <div class="hilera">

                        <i class="fab fa-twitter-square"></i>

                        <label><a href="https://twitter.com/" target="_blank"> Seguinos en Twiter</a></label>

                    </div>


                </div>

                <div class="column2">

                    <h4>Informacion de contacto</h4>

                    <div class="row2">

                        <i class="fas fa-location-arrow"></i>

                        <label>La Plata - Bs. As. - Arg.</label>

                    </div>

                    <div class="row2">

                        <i class="fas fa-phone"></i>

                        <label>2494-339578</label>

                    </div>

                    <div class="row2">

                        <i class="far fa-envelope"></i>

                        <label>chawarjoyas@gmail.com</label>

                    </div>

                </div>

            </div>

        </div>


    </footer>



    <script src="../js/bootstrap.js"></script>


</body>


</html>