<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <!-- Estilos con SASS -->
    <link rel="stylesheet" href="../micss/estilos.css">


    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../img/favicon-chawar.png">

    <meta name="keywords" content="joyas, diges, collares, artesanal">
    <meta name="description" content="Joyeria de autor, piezas unicas.">



    <title>CHAWAR | Talles</title>

</head>


<!-- Navegador -->



<body id="grid-area">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">

        <div class="container-fluid">

            <a class="navbar-brand" href="#">

                <img src="../img/chawar-logo.png" alt="logo">

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav text-center ms-auto">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="quienes-somos.html">Quiénes
                            somos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="producto.html">Productos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="talles.html">Talles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                    </li>



                </ul>

            </div>

        </div>

    </nav>



    <!-- Como saber tu talle MAIN -->

    <main class="main-flex">

        <div id="grid-talles">

            <div class="grid-question animate__animated animate__zoomIn">

                <h1>¿Como saber tu talla?</h1>

            </div>

            <div class="grid-desarrollo animacion-talles-text" id="question">

                <h3>1er metodo (Con anillo):</h3>

                <ol>
                    <li>Toma un anillo que te guste como te queda, en el dedo indicado.</li>

                    <li>Con una regla medir el diametro interno.</li>

                    <li>Recuerda que la unidad de medida que se necesita es la de "milimetros". Por ejemplo, si la regla
                        dice
                        2,5
                        centimetros, seran entonces 25 milimetros.</li>

                </ol>

                <br>

                <h3>2do metodo (Sino tenes anillo a la mano):</h3>

                <ol>
                    <li>Enrolla un pedazo de papel o hilo alrededor del dedo que quieres medir, como si fuera un anillo.
                        Asegúrate de ajustarlo de manera cómoda, ni muy apretado ni muy flojo.</li>

                    <li>Marca con una pluma o plumón el punto donde se una el extremo del papel con el resto.</li>

                    <li>Mide con una regla o cinta métrica la distancia marcada. Debes enfocarte en los milímetros. Cada
                        centímetro
                        equivale a 10 milímetros. Por ejemplo, 5.4 cm serían 54 mm.</li>

                    <li>Después, calcula el diámetro de tu dedo con esta fórmula: Tú medida (en mm) / 3.14.Por ejemplo,
                        54
                        mm /
                        3.14
                        = 17.19</li>

                </ol>

            </div>

    </main>


    <!-- FOOTER -->


    <footer>

        <div class="container-footer-all">

            <div class="container-body">

                <div class="column1">

                    <h4>Nuestas redes sociales</h4>

                    <div class="hilera">

                        <i class="fab fa-instagram"></i>

                        <label> <a href="https://www.instagram.com/chawar.joyas/?hl=es-la" target="_blank">Seguinos
                                en Instagram</a></label>

                    </div>

                    <div class="hilera">

                        <i class="fab fa-facebook-square"></i>

                        <label><a href="https://www.facebook.com/" target="_blank"> Seguinos en Facebook</a></label>

                    </div>

                    <div class="hilera">

                        <i class="fab fa-twitter-square"></i>

                        <label><a href="https://twitter.com/" target="_blank"> Seguinos en Twiter</a></label>

                    </div>


                </div>

                <div class="column2">

                    <h4>Informacion de contacto</h4>

                    <div class="row2">

                        <i class="fas fa-location-arrow"></i>

                        <label>La Plata - Bs. As. - Arg.</label>

                    </div>

                    <div class="row2">

                        <i class="fas fa-phone"></i>

                        <label>2494-339578</label>

                    </div>

                    <div class="row2">

                        <i class="far fa-envelope"></i>

                        <label>chawarjoyas@gmail.com</label>

                    </div>

                </div>

            </div>

        </div>

    </footer>


    <script src="../js/bootstrap.js"></script>


</body>


</html>